@model IEnumerable<EFAirlinesLibrary.Models.ReservationDetail>

@{
    ViewData["Title"] = "Passengers";
}

<h1>Passengers</h1>

<p>
    <!--<a asp-action="CreatePassenger">Create New</a>-->
    @Html.ActionLink("Create New", "CreatePassenger", new { pnr = ViewBag.PNR })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PNRNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PNRNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPassenger", new { pnr=item.PNRNo, pno=item.PassengerNo }) |
                @Html.ActionLink("Details", "PassengerDetails", new { pnr=item.PNRNo, pno=item.PassengerNo }) |
                @Html.ActionLink("Delete", "DeletePassenger", new { pnr=item.PNRNo, pno=item.PassengerNo })
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index">Back to Reservation List</a>


