@model IEnumerable<EFAirlinesLibrary.Models.FlightSchedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArriveTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArriveTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { fno=item.FlightNo, trdate=item.TravelDate.ToLongDateString() } ) |
                @Html.ActionLink("Details", "Details", new { fno=item.FlightNo, trdate=item.TravelDate.ToLongDateString() }) |
                @Html.ActionLink("By Flight", "SchedulesByFlight", new { fno=item.FlightNo }) |
                @Html.ActionLink("By Date", "SchedulesByDate", new { trdate=item.TravelDate.ToLongDateString() }) |
                @Html.ActionLink("Delete", "Delete", new { fno=item.FlightNo, trdate=item.TravelDate.ToLongDateString() })
            </td>
        </tr>
}
    </tbody>
</table>
